.button {
  border-radius: 6px;
  padding: 8px 30px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.25s;
  border: none;
}

.button:hover {
  background: #211fb1;
}

.accent {
  background-color: #312eb5;
}
